@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;

}

.container {
    width: 602px;
    height: 400px;
    /*border: 1px solid black;*/
    margin: 0 auto;
}

.col1 {
    width: 200px;
    height: 400px;
    background-color: blue;
    color: white;
    animation: bgcolor1 infinite 2s;
    float: left;
    border: 1px solid black;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
@keyframes bgcolor1{
    50%
    {
        background-color: yellow;
        color: black;
    }

    100%
    {
        background-color: blue;
        
    }
}

.col2 {
    width: 200px;
    height: 400px;
    float: left;
    border: 1px solid black;
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}

.col3 {
    width: 200px;
    height: 400px;
    animation: bgcolor2 infinite 2s;
    background-color: blue;
    color: white;
    float: left;
    border: 1px solid black;
    padding: auto;
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;

}
@keyframes bgcolor2{
    50%
    {
        color: black;
    }

    75%
    {
        margin-bottom: -40px;
    }
}


p {
    text-align: center;
    margin-top: 90%;
    animation:  spin infinite 3s;
}

@keyframes spin{
    0%
    {
       transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}
