@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;

}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.btn-lg {
    display: inline-block;
    padding: 35px 50px;
    font-size: 20px;
}